{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <h4>Смена пароля</h4>
    <div class="card">
      <div class="card-body">
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Текущий пароль</label>
            <input name="old_password" type="password" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Новый пароль</label>
            <input name="new_password" type="password" class="form-control" required minlength="6">
          </div>
          <button class="btn btn-dark">Изменить пароль</button>
          <a href="{{ url_for('rooms.chart') }}" class="btn btn-link">Отмена</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
